*{
    padding: 0;
    margin: 0;

}

body {
    background-color: rgb(3, 39, 32);
    transition: background-color 0.3s ease;
    color: #FFFF;

}

header {
    text-align: center;
    width: 100%;
    height: 40vh;

}

header h1 {
    font-size: 20vh;
}

#mouse-position {
    height: 100%;
    width: 50%;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;

}

.featured_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
    gap: 20px;
    font-family: "Inter", sans-serif;
}
.card {
    width: 40%;
    height: 25%;

}

.card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
    font-size: x-large;

}

.black:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(255, 255, 255, 0.2);

}

.card img {
    width: 100%;
    height: 90%;
    object-fit: auto;
    border-radius: 5px;
}

.card div {
    padding: 1rem 1rem;
}

.card h1 {
    font-size: 100%;
    font-weight: 500;

}

.card p {
    letter-spacing: 0.1rem;
    line-height: 1.7;

}


@keyframes strokeOffset {
    0% {
        stroke-dashoffset: 1000; 
    }
    100% {
        stroke-dashoffset: 0; 
    }
}

#animatedPath-S {
    fill: none;
    stroke: #FFFF; 
    stroke-width: 4; 
    stroke-dasharray: 1000; 
    stroke-dashoffset: 1000; 
    animation: strokeOffset 6s ease forwards; 
}

a {
    color: #fff;
    text-decoration: none;
}
